# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
venv/
*.egg-info/
build/
dist/

# Jupyter
*.ipynb                   # exclude all ipynb files
!notebooks/**/*.ipynb     # include all ipynb files in notebooks directory
*.ipynb_checkpoints/
*.ipynb_checkpoints 

# Logs and outputs
logs/
*.log
*.out
*.err
*.tmp

# Data
data/
outputs/
*.csv
*.parquet
*.xlsx
*.h5
*.pkl

# Secrets / configs
.env
*.key
*.pem
*.crt
config.yaml
config.json

# IDEs
.vscode/
.idea/
*.swp

# ML frameworks
wandb/
mlruns/
checkpoints/
runs/